@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');



 h1 {
  
    font-family: 'Poppins', sans-serif; 
    text-align: center;
    background-color: #FC7300;
    text-decoration-color: #181823;
    text-transform:uppercase;
    text-shadow: 1px 1px 1px; 
   
}
h2  {
font-family: 'Poppins', sans-serif; 
   padding-bottom: 1rem;
    text-align: center;

}
h3 {
    font-family: 'Poppins', sans-serif; 
    
}
h5 {
    text-align: center;
}
p {
    font-family: 'Poppins', sans-serif; 
   

    text-align: center;
   font-size: medium;
   color:#00425A ;

}
.col-md-6.p-4.ps-md-0
{
    font-family: 'Poppins', sans-serif; 
    color:#EFF5F5;
    opacity: 70%;
    background-color:#1F8A70;
    
    width: 50%;
    height: auto;
}
.col-md-6.mb-md-0.p-md-4
{
    font-family: font-family: 'Belanosima';
    background-color: #1F8A70;
    opacity: 100%;
    width: 50%;
    height: auto;
    
}

@media {(min-width: 420px)}

.headerinferior {
    height: 25rem;
    background-image: url("../img/fondo.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 768px
}
.titulo {
    width:100%;
    display: inline-block;
    color: var(--color-textohyf);
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    background-color: var(--color-fuente);

}
footer   {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1rem;
    background-color: #181823;
    
   
}
footer h3  {
    color: #EFF5F5;
    text-align:center;
    width: 70%;
    height: auto;
    max-height: 400px;
    display: block;
 

   
  }

  footer div  {
    color: #EFF5F5;
    width: 100%;
    height: auto;
    max-height: 400px;
    display: block;

   
  }
  footer li {
    color: #EFF5F5;
    width: 100%;
    height: auto;
    max-height: 400px;
    display: block;
text-align:justify;
font-family: 'Poppins', sans-serif; 
  }
  footer i  {
    color: #EFF5F5;
    width: 100%;
    height: auto;
    max-height: 400px;
    display: block;
text-align:justify;
font-family: 'Poppins', sans-serif; 
  }
  .mapa  {
    
    width: 70%;
  
  }
  iframe {
    
border: 1.5px;
  
  }

  nav  {
    font-family: 'Poppins', sans-serif; 
    color: var(--color-titulos);
    padding-bottom: 1rem;
    text-align: center;
    margin: 1em;

  }
  .carousel img {
    width: 100%;
    height: auto;
    max-height: 400px;
    display: block;
    margin: 3px;
   }
   .col-md-6.mb-md-0.p-md-4 {width: 50%;
    height: 50%;
    max-height: 400px;
   
    }
    a.navbar-brand  {
    color:  #FC7300;}
    ::backdrop {
        color:  #FC7300;}
        
        .navbarNav {
    color:  #753f12;}
    ::backdrop {
        color:  #FC7300;}
a.nav-link  {
    color:  #FC7300;}
    ::backdrop {
        color:  #FC7300;}
       
        a.nav-link.active
        {
            color:  #FC7300;}

       form    h1 {
  text-align: center;
  margin: 35px 0 20px 0 ;
}
.btn.btn-lg.btn-dark.btn-block{
    background-color: #EFF5F5;
    color:#181823;
    width: 100%;
    height: auto;
   
  }
  .video-container {
    display: flex;
    justify-content: center;
 
  }
